<!DOCTYPE html>
<html>
  <head>
    <title>Pizza Gusto</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Amatic+SC"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../javascript/script.js"></script>
  </head>
  <header id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">PizzaGusto</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../index.html">Acasa</a></li>
            <li><a href="./meniu.html">Meniu</a></li>
            <li><a href="./orar.html">Orar</a></li>
            <li><a href="./locatie.html">Locatie</a></li>
            <li><a href="./rezervare.html">Rezervare</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Navbar End-->
  </header>
  <body>
    <!-- Contact-->
    <div
      class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge"
    >
      <div class="w3-content">
        <h1 class="w3-center w3-jumbo" style="margin-bottom: 64px">Contact</h1>
        <p class="w3-xxlarge"><strong>Rezervati</strong> o masa</p>
        <form
          action="mailto:someone@example.com"
          method="post"
          enctype="text/plain"
          target="_blank"
        >
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              type="email"
              placeholder="Email"
              required
              name="Email"
            />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              type="text"
              placeholder="Nume"
              required
              name="Name"
            />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              type="number"
              placeholder="Nr. persoane"
              required
              name="People"
            />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              type="datetime-local"
              placeholder="Data si ora"
              required
              name="date"
              value="2020-11-16T20:00"
            />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16 w3-border"
              type="text"
              placeholder="Mesaj / Cerinte speciale"
              required
              name="Message"
            />
          </p>
          <p>
            <button class="w3-button w3-light-grey w3-block" type="submit">
              SEND MESSAGE
            </button>
          </p>
        </form>
      </div>
    </div>
  </body>
  <footer id="footer" class="container-fluid text-center">
    <a href="#myPage" title="Go Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>WebSite Made By Bogdan</p>
    <a
      href="https://www.facebook.com"
      class="fa fa-facebook"
      target="_blank"
    ></a>
    <a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a>
    <a
      href="https://www.instagram.com"
      class="fa fa-instagram"
      target="_blank"
    ></a>
  </footer>
</html>
